/*==========  Desktop First  ========== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1440px) {
  .container {
    padding: 15px;
  }

  .manager {
    width: 100%;
    border-radius: 20px 20px 20px 20px;
  }

  .manager-block__profile {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .manager-block__profile-name {
    margin-left: 0;
  }

  .work-wrapper__block-get {
    flex-wrap: wrap;
    padding-bottom: 10px;
  }

  .company-block {
    margin: 0 auto;
    margin-top: 50px;
    width: 700px;
    justify-content: center;
    justify-items: center;
  }

  .company-block__square:nth-child(2n) {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 1320px) {
  .leasing {
    flex-direction: column;
    text-align: center;
    margin-top: 0;
  }

  .leasing-wrapper {
    width: 100%;
    margin: 50px auto;
  }

  .leasing-wrapper__descr {
    width: 100%;
  }

  .manager {
    width: 96vw;
    border-radius: 20px 20px 20px 20px;
  }

  .condition-wrapper__block {
    width: 900px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  .condition-wrapper__main {
    align-items: center;
    flex-direction: column;
  }

  .condition-wrapper__block-card {
    text-align: center;
    margin: 0;
    margin-right: 30px;
    margin-top: 50px;
  }
  .condition-wrapper__block-card:nth-child(4) {
    margin-right: 0;
  }

  .condition-wrapper__block-img {
    margin: 0 auto;
  }

  .condition-wrapper__form {
    text-align: center;
    margin-top: 30px;
    margin-left: 0;
  }

  .condition-wrapper__btn {
    margin: 0 auto;
    margin-top: 30px;
  }

  .color-block {
    position: relative;
  }

  .manager-block__title {
    font-size: 20px;
  }

  .manager-block__descr {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1200px) {
  .registration {
    min-height: 1013px;
    margin-right: -15px;
    margin-left: -15px;
  }

  .registration-block {
    margin: 0 auto;
    margin-top: 50px;
  }
  .manager {
    width: 100%;
    position: absolute;
    margin: 0 auto;
    top: 400px;
    left: 0;
    z-index: -1;
  }

  .manager-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    margin: 0 auto;
    margin-top: 300px;
    top: 0;
  }

  .manager-block__profile {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .work-wrapper__blocks {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  .work-wrapper__block-get {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-right: 0;
  }
  .color-block {
    width: 100%;
    box-shadow: 0px -300px 0px 300px #1795d3;
    border-radius: 20px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .leasing-slider-item {
    width: 100px;
  }
  .document-block__option {
    align-items: center;
    justify-content: center;
  }

  .document-block__docs-card {
    margin: 0;
    margin-top: 35px;
    margin-left: 20px;
  }

  .condition-wrapper__block {
    flex-wrap: wrap;
  }

  .condition-wrapper__block-card {
    margin: 0;
    margin-top: 40px;
  }

  .registration-block__form {
    padding: 0 10px;
  }

  .header-content__link {
    margin-right: 15px;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header-content__burger {
    display: block;
    margin-top: -40px;
    margin-right: -40px;
    width: 40px;
    height: 40px;    
    position: relative;
    background-color: #1795D3;
    border-radius: 5px;
    overflow: hidden;
    transform: translateX(-100%);
    z-index: 1;
}

.header-content__burger span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    
}

.header-content__burger span:nth-of-type(2) {
    top: calc(50% - 7px);
}

.header-content__burger span:nth-of-type(3) {
    top: calc(50% + 7px);
}

.header-content__burger.active span:first-of-type {
    transform: translateX(100%);
}

.header-content__burger.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.header-content__burger.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

  .header-content__nav {
    display: none;
  }

  .header-content__connection {
    display: none;
  }

  .header-content__burger-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: #ffffff;
    transition: all 0.6s;
    z-index: 1;
    box-shadow: 0 0 100vw transparent;    
  }

  .active-burger {
    right: 0;
  }

  .header-content__burger-link {
    display: flex;
    flex-direction: column;
    margin-top: 61px;
  }

  .linked1 {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    color: #1A78A6;
  }

  .linked1:first-of-type {
    margin-top: 0;    
  }

  .header-content__burger-connection {
    margin-top: 20px;
    width: 185px;
    height: 40px;
    background-color: #04B3B8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }  

  .header-content__burger-descr {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    margin-left: 12px;
}
  .header-content__burger-tel {
    display: flex;
    align-items: center;
  }

  .header-content__burger-teldescr {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    color: #414141;
    margin-left: 10px;
  }

  .header-content__burger-text {
    margin-top: 50px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }

  .header-content__burger-subtext {
    margin-top: 5px;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* */
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */
}
