@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-color: #EAF3F8;
}

.container {
    width: 1366px;
    margin: 0 auto;
    padding-top: 1px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;    
}

.header-content__link {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #1A78A6;
    margin-right: 78px;
    font-weight: 500;
    font-size: 20px;
}

.header-content__link:nth-child(3) {
    margin-right: 0;
}

.header-content__connection {
    width: 185px;
    height: 40px;
    background-color: #04B3B8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.header-content__descr {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    margin-left: 12px;
}

.leasing {
    min-height: 524px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leasing-wrapper {
    width: 558px;
    margin: 107px 19px 108px 0;
}

.leasing-wrapper__title {
    font-weight: 700;
    font-size: 35px;
    color: #1795D3;
}

.leasing-wrapper__descr {
    font-weight: 300;
    font-size: 23px;
    color: #1A78A6;
    margin-top: 25px;
}

.leasing-wrapper__btn {
    width: 237px;
    height: 54px;
    margin-top: 40px;
    background-color: #1A78A6;
    border-radius: 35px;
    border: none;
}

.leasing-wrapper__btn:hover {
    cursor: pointer;
}

.leasing-wrapper__btn:active {
    background-color: #1a77a6d4;
}

.leasing-wrapper__btn-primary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 7px 10px 7px 20px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

.leasing-carousel {
    width: 742px;
}

.leasing-carousel__img {
    width: 134px;
    height: 444px;
    border-radius: 10px;
}

.leasing-carousel__img:first-child {
    width: 327px;
}

.work {
    
}

.work-wrapper__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    margin-top: 80px;
    color: #1A78A6;
    text-align: center;
}

.work-wrapper__descr {
    width: 904px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin: 0 auto;
    margin-top: 20px;
    color: #414141;
    text-align: center;
}

.work-wrapper__subtitle {
    font-size: 25px;
    font-weight: 600;
    line-height: 34px;
    margin-top: 60px;
    color: #1A78A6;
    text-align: center;
}

.work-wrapper__blocks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.work-wrapper__block-get {
    width: 651px;
    height: 160px;
    margin: 58px 30px 58px 33px;
    background-color: #EAF3F8;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.work-wrapper__block-descr {
    width: 481px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}