@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

header {
    background-color: #EAF3F8;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
    padding-top: 1px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 132px;    
}

.header-content__link {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #1A78A6;
    margin-right: 78px;
    font-weight: 500;
    font-size: 20px;
}

.header-content__link:nth-child(3) {
    margin-right: 0;
}

.header-content__connection {
    width: 185px;
    height: 40px;
    background-color: #04B3B8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.header-content__descr {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    margin-left: 12px;
}

.leasing {
    min-height: 524px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leasing-wrapper {
    width: 558px;
    margin: 107px 19px 108px 0;
}

.leasing-wrapper__title h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    color: #1795D3;
}

.leasing-wrapper__descr {
    width: 490px;
    font-weight: 400;
    font-size: 30px;
    color: #1A78A6;
    margin-top: 25px;
}

.leasing-wrapper__btn {
    width: 237px;
    height: 54px;
    margin-top: 40px;
    background-color: #1A78A6;
    border-radius: 35px;
    border: none;
}

.leasing-wrapper__btn:hover {
    cursor: pointer;
}

.leasing-wrapper__btn:active {
    background-color: #1a77a6d4;
}

.leasing-wrapper__btn-primary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 7px 10px 7px 20px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

.leasing-carousel {
    width: 742px;
}

.leasing-carousel__img {
    width: 134px;
    height: 444px;
    border-radius: 10px;
}

.leasing-carousel__img:first-child {
    width: 327px;
}

.work {
    
}

.work-wrapper__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    margin-top: 80px;
    color: #1A78A6;
    text-align: center;
}

.work-wrapper__descr {
    width: 904px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin: 0 auto;
    margin-top: 20px;
    color: #414141;
    text-align: center;
}

.work-wrapper__subtitle {
    font-size: 25px;
    font-weight: 600;
    line-height: 34px;
    margin-top: 60px;
    color: #1A78A6;
    text-align: center;
}

.work-wrapper__blocks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.work-wrapper__block-get {
    width: 651px;
    height: 160px;
    background-color: #EAF3F8;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.work-wrapper__block-descr {
    width: 481px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.condition-wrapper__main {
    display: flex;
    align-items: stretch;
}

.condition-wrapper__title {
    margin-top: 110px;
    color:#1A78A6;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
}

.condition-wrapper__block {
    width: 658px;
    display: flex;
    flex-wrap: wrap;
}

.condition-wrapper__block-card {
    width: 311px;
    height: 135px;
    margin-top: 50px;
    margin-left: 36px;
}

.condition-wrapper__block-card:nth-child(1) {
    margin-left: 0;
}

.condition-wrapper__block-card:nth-child(3) {
    margin-top: 40px;
    margin-left: 0;
}

.condition-wrapper__block-card:nth-child(4) {
    margin-top: 40px;
}

.condition-wrapper__block-img {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E3F8F9;
    border-top-left-radius: 30px;
}

.condition-wrapper__block-descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #414141;
    margin-top: 15px;
}

.condition-wrapper__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 442px;
    margin-left: 151px;
}

.condition-wrapper__form-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    color: #1A78A6;
}

.condition-wrapper__form-input {
    width: 442px;
    height: 55px;
    background-color: #EAF3F8;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
    margin-top: 27px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #1A78A6;
}

.condition-wrapper__form-input::placeholder {
    color: #1A78A6;
}

.condition-wrapper__personal {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #1795D3;
}

.condition-wrapper__btn {
    width: 237px;
    height: 54px;
    margin-top: 30px;
    background-color: #1A78A6;
    border-radius: 35px;
    border: none;
}

.condition-wrapper__btn:hover {
    cursor: pointer;
}

.condition-wrapper__btn:active {
    background-color: #1a77a6d4;
}

.condition-wrapper__btn-primary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 7px 10px 7px 20px;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

.document-block__option {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.document-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #1A78A6;
    margin-top: 100px;
}

.document-block__requirements {
    width: 462px;
}

.document-block__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    color: #1795D3;
}

.document-block__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #414141;
    margin-top: 20px;
}

.document-block__docs {
    display: flex;
    flex-direction: column;
}

.document-block__docs-card {
    display: flex;
    align-items: center;
    margin-top: 35px;
    margin-left: 231px;
}

.document-block__docs-card:nth-child(1) {
    margin-top: 0;
}

.document-block__docs-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-top-left-radius: 15px;
    background-color: #E3F8F9;
}

.document-block__docs-descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-left: 20px;
}

.company-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #1A78A6;
    margin-top: 100px;
}

.company-block {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.company-block__square {
    height: 228px;
    width: 327px;
    background-color: #EAF3F8;
    border-radius: 15px;
    position: relative;
    padding-top: 20px;
}

.company-block__square-title {
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    color: #1A78A6;
    margin-left: 20px;
}

.company-block__square-descr {
    width: 286px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #000000;
    margin-top: 10px;
    margin-left: 20px;
}

.company-block__square-img img {
    position: absolute;
    bottom: 0;
    right: 0;
}